--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentencepiece
fastapi[standard]==0.119.1
pydantic>=2.7.0,<3.0.0
pymongo==4.15.3
python-magic==0.4.27
qdrant_client==1.15.1
transformers==4.57.1
gunicorn
uvicorn